<!DOCTYPE html>
<head>
<title>Colored  an Admin Panel Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
<meta name="keywords" content="Colored Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<% include head.ejs %>
</head>
<body class="dashboard-page">
          <% include header.ejs %>
          <div class="main-grid">
                <div class="agile-grids">	
                    <!-- blank-page -->
                    <div class="w3l-table-info">
                              <h3>Basic Implementation</h3>
                                <table id="table" class="">
                                 <thead>
                                   <tr>
                                      <th>Name</th>
                                      <th>Age</th>
                                      <th>Gender</th>
                                      <th>Height</th>
                                      <th>Province</th>
                                      <th>Sport</th>
                                   </tr>
                                 </thead>
                                 <tbody>
                                   <tr>
                                      <td data-th="Name"><span class="bt-content">Jill Smith</span></td>
                                      <td data-th="Age"><span class="bt-content">25</span></td>
                                      <td data-th="Gender"><span class="bt-content">Female</span></td>
                                      <td data-th="Height"><span class="bt-content">5'4</span></td>
                                      <td data-th="Province"><span class="bt-content">British Columbia</span></td>
                                      <td data-th="Sport"><span class="bt-content">Volleyball</span></td>
                                   </tr>
                                   <tr>
                                      <td data-th="Name"><span class="bt-content">John Stone</span></td>
                                      <td data-th="Age"><span class="bt-content">30</span></td>
                                      <td data-th="Gender"><span class="bt-content">Male</span></td>
                                      <td data-th="Height"><span class="bt-content">5'9</span></td>
                                      <td data-th="Province"><span class="bt-content">Ontario</span></td>
                                      <td data-th="Sport"><span class="bt-content">Badminton</span></td>
                                   </tr>
                                   <tr>
                                      <td data-th="Name"><span class="bt-content">Jane Strip</span></td>
                                      <td data-th="Age"><span class="bt-content">29</span></td>
                                      <td data-th="Gender"><span class="bt-content">Female</span></td>
                                      <td data-th="Height"><span class="bt-content">5'6</span></td>
                                      <td data-th="Province"><span class="bt-content">Manitoba</span></td>
                                      <td data-th="Sport"><span class="bt-content">Hockey</span></td>
                                   </tr>
                                   <tr>
                                      <td data-th="Name"><span class="bt-content">Gary Mountain</span></td>
                                      <td data-th="Age"><span class="bt-content">21</span></td>
                                      <td data-th="Gender"><span class="bt-content">Male</span></td>
                                      <td data-th="Height"><span class="bt-content">5'8</span></td>
                                      <td data-th="Province"><span class="bt-content">Alberta</span></td>
                                      <td data-th="Sport"><span class="bt-content">Curling</span></td>
                                   </tr>
                                   <tr>
                                      <td data-th="Name"><span class="bt-content">James Camera</span></td>
                                      <td data-th="Age"><span class="bt-content">31</span></td>
                                      <td data-th="Gender"><span class="bt-content">Male</span></td>
                                      <td data-th="Height"><span class="bt-content">6'1</span></td>
                                      <td data-th="Province"><span class="bt-content">British Columbia</span></td>
                                      <td data-th="Sport"><span class="bt-content">Hiking</span></td>
                                   </tr>
                                   <tr>
                                             <td data-th="Name"><span class="bt-content">Jill Smith</span></td>
                                             <td data-th="Age"><span class="bt-content">25</span></td>
                                             <td data-th="Gender"><span class="bt-content">Female</span></td>
                                             <td data-th="Height"><span class="bt-content">5'4</span></td>
                                             <td data-th="Province"><span class="bt-content">British Columbia</span></td>
                                             <td data-th="Sport"><span class="bt-content">Volleyball</span></td>
                                          </tr>
                                          <tr>
                                             <td data-th="Name"><span class="bt-content">John Stone</span></td>
                                             <td data-th="Age"><span class="bt-content">30</span></td>
                                             <td data-th="Gender"><span class="bt-content">Male</span></td>
                                             <td data-th="Height"><span class="bt-content">5'9</span></td>
                                             <td data-th="Province"><span class="bt-content">Ontario</span></td>
                                             <td data-th="Sport"><span class="bt-content">Badminton</span></td>
                                          </tr>
                                          <tr>
                                             <td data-th="Name"><span class="bt-content">Jane Strip</span></td>
                                             <td data-th="Age"><span class="bt-content">29</span></td>
                                             <td data-th="Gender"><span class="bt-content">Female</span></td>
                                             <td data-th="Height"><span class="bt-content">5'6</span></td>
                                             <td data-th="Province"><span class="bt-content">Manitoba</span></td>
                                             <td data-th="Sport"><span class="bt-content">Hockey</span></td>
                                          </tr>
                                          <tr>
                                             <td data-th="Name"><span class="bt-content">Gary Mountain</span></td>
                                             <td data-th="Age"><span class="bt-content">21</span></td>
                                             <td data-th="Gender"><span class="bt-content">Male</span></td>
                                             <td data-th="Height"><span class="bt-content">5'8</span></td>
                                             <td data-th="Province"><span class="bt-content">Alberta</span></td>
                                             <td data-th="Sport"><span class="bt-content">Curling</span></td>
                                          </tr>
                                          <tr>
                                             <td data-th="Name"><span class="bt-content">James Camera</span></td>
                                             <td data-th="Age"><span class="bt-content">31</span></td>
                                             <td data-th="Gender"><span class="bt-content">Male</span></td>
                                             <td data-th="Height"><span class="bt-content">6'1</span></td>
                                             <td data-th="Province"><span class="bt-content">British Columbia</span></td>
                                             <td data-th="Sport"><span class="bt-content">Hiking</span></td>
                                          </tr>
                                 </tbody>
                              </table>
                            </div>
                    <!-- //blank-page -->
                </div>
            </div>
</section>
          <% include footer.ejs %>
</body>
</html>
