<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Fashion Hub Ecommerce Category Bootstrap Responsive Website Template| Home :: w3layouts</title>
    <meta name="keywords" content="Fashion Hub Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
    SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <% include head.ejs %>
</head>

<body>
<% include header.ejs %>
	<!-- breadcrumbs -->
	<nav aria-label="breadcrumb">
               <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                         <a href="index.html">Home</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Profile</li>
               </ol>
          </nav>
          <!-- //breadcrumbs -->
<% include footer.ejs %>