<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Fashion Hub Ecommerce Category Bootstrap Responsive Website Template| Home :: w3layouts</title>
    <meta name="keywords" content="Fashion Hub Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
    SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <% include head.ejs %>
</head>

<body>
<% include header.ejs %>

          <section class="wthree-row pt-3 pb-sm-5 w3-contact">
                    <div class="container py-sm-5 pb-5">
                        <h5 class="head_agileinfo text-center text-capitalize pb-5">
                            <span>R</span>egister</h5>
                        <div class="row contact-form pt-lg-5">
                              <div class="row">
                                        <div class="col-md-6 mx-auto align-self-center">
                                            <img src="images/p3.png" class="img-fluid" alt="login_image" />
                                        </div>
                                        <div class="col-md-6">
                                            <form action="#" method="post">
                                                <div class="form-group">
                                                    <label for="recipient-name1" class="col-form-label">Your Name</label>
                                                    <input type="text" class="form-control" placeholder=" " name="Name" id="recipient-name1" required="">
                                                </div>
                                                <div class="form-group">
                                                    <label for="recipient-email" class="col-form-label">Email</label>
                                                    <input type="email" class="form-control" placeholder=" " name="Email" id="recipient-email" required="">
                                                </div>
                                                <div class="form-group">
                                                    <label for="password1" class="col-form-label">Password</label>
                                                    <input type="password" class="form-control" placeholder=" " name="Password" id="password1" required="">
                                                </div>
                                                <div class="form-group">
                                                    <label for="password2" class="col-form-label">Confirm Password</label>
                                                    <input type="password" class="form-control" placeholder=" " name="Confirm Password" id="password2" required="">
                                                </div>
                                                <div class="sub-w3l">
                                                    <div class="sub-agile">
                                                        <input type="checkbox" id="brand2" value="">
                                                        <label for="brand2" class="mb-3">
                                                            <span></span>I Accept to the Terms & Conditions</label>
                                                    </div>
                                                </div>
                                                <div class="right-w3l">
                                                    <input type="submit" class="form-control" value="Register">
                                                </div>
                                            </form>
                                            <p class="text-center mt-3">Already a member?
                                                <a href="#" data-toggle="modal" data-target="#exampleModal1" class="text-dark login_btn">
                                                    Login Now</a>
                                            </p>
                                        </div>
                                    </div>

                         </div>
                    </div>
           </section>
<% include footer.ejs %>