<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Fashion Hub Ecommerce Category Bootstrap Responsive Website Template| Home :: w3layouts</title>
    <meta name="keywords" content="Fashion Hub Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
    SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <% include head.ejs %>
</head>

<body>
<% include header.ejs %>
<h1>Services </h1>
<p>The image above shows the app. It is an application that lets you add players to a database and also display
     their details from the database. You can also delete and edit player details.</p>
<% include footer.ejs %>